body{
    font-family: Arial, sans-serif;
    margin:40px;
    background:#f4f4f4;
}

h1{
    color:darkblue;
}

input, textarea, select{
    width:300px;
    padding:8px;
}

button{
    padding:10px 20px;
    background:darkblue;
    color:white;
    border:none;
}